<property name="type.uuid" value="char(36)" dbms="mysql"/>
<property name="type.varcharname" value="varchar(150)" dbms="mysql"/>
<property name="type.varchardef" value="varchar(255)" dbms="mysql"/>
<property name="type.varchar" value="varchar(255)" dbms="mysql"/>
<property name="type.varchar36" value="varchar(36)" dbms="mysql"/>
<property name="type.varchar10" value="varchar(10)" dbms="mysql"/>
<property name="type.timestamp" value="TIMESTAMP" dbms="mysql"/>
<property name="type.timestamp" value="datetime" dbms="mssql"/>
<property name="type.bytea" value="IMAGE" dbms="mssql"/>
<property name="type.bytea" value="blob" dbms="mysql"/>
<property name="type.bigint" value="bigint" dbms="mysql"/>
<property name="type.int" value="integer" dbms="mysql"/>
<property name="type.text" value="text" dbms="mysql"/>
<property name="type.date" value="date" dbms="mysql"/>
<property name="type.varbinary" value="varbinary(500)" dbms="mysql"/>
<property name="type.boolean" value="boolean" dbms="mysql"/>
